<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <script type="text/javascript" src="~/content/layui/layui.all.js"></script>
    <link rel="stylesheet" href="~/content/layui/css/layui.css" />
    <script type="text/javascript" src="~/content/js/jquery.js"></script>
    <script type="text/javascript" src="~/content/js/vue.js"></script>
    <link rel="stylesheet" href="~/content/css/dcf.css" />
    @RenderSection("head", false)

</head>
@RenderBody()

</html>

