
@section head{
    <style>
        #mainDiv {
            margin: 20px 20px 20px 20px;
        }

        body {
            background-color: #F2F2F2
        }

        .Ahelp {
            margin-left: 20px;
            color: blue;
            cursor: pointer;
        }
        .Aapi {
            color: blue;
            cursor: pointer;
        }
        .AapiDiv {
            /*max-width: 250px;*/
            overflow: auto
        }
        .scroll {
            overflow: auto
        }

        [v-cloak] {
            display: none
        }
    </style>

}
<body>
    <div id="mainDiv">
        <div class="layui-row layui-col-space5">
            <div class="layui-col-md4">
                <div class="layui-card" >
                    <div class="layui-card-header">
                        API列表
                        <a href="/help" class="Ahelp">打开API列表文档</a>
                    </div>
                    <div class="layui-card-body scroll"  id="tableApiList">                  
                            <table class="layui-table">
                                <colgroup>
                                    <col width="200">
                                    <col width="80">
                                    <col width="200">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>描述</th>
                                        <th>方法</th>
                                        <th>接口名</th>
                                    </tr>
                                </thead>
                                <tbody id="apiList" v-cloak class="scroll">
                                    <tr v-for="api in apilist">
                                        <td>{{api.mark}}</td>
                                        <td>{{api.method}}</td>
                                        <td>
                                            <div class="AapiDiv">
                                                <a class="Aapi" href="javascript:;" @@click="testApi(api)">{{api.func}}</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>                      
                    </div>
                </div>
            </div>

            <div class="layui-col-md8">
                <div class="layui-card">
                    <div class="layui-card-header">
                        接口返回详情
                    </div>
                    <div class="layui-card-body scroll">
                        <ul class="layui-timeline" id="outputUl" v-cloak>
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                <div class="layui-timeline-content layui-text">
                                    <h3 class="layui-timeline-title">接口名</h3>
                                    <p>
                                        {{info.func}}
                                    </p>
                                </div>
                            </li>
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                <div class="layui-timeline-content layui-text">
                                    <h3 class="layui-timeline-title">url</h3>
                                    <p>
                                        {{info.url}}
                                    </p>
                                </div>
                            </li>
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                <div class="layui-timeline-content layui-text">
                                    <h3 class="layui-timeline-title">参数</h3>
                                    <p>
                                        {{info.params}}
                                    </p>
                                </div>
                            </li>
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                <div class="layui-timeline-content layui-text">
                                    <h3 class="layui-timeline-title">耗时</h3>
                                    <p>
                                        {{info.responseTime}}
                                    </p>
                                </div>
                            </li>
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                <div class="layui-timeline-content layui-text">
                                    <h3 class="layui-timeline-title">数据量</h3>
                                    <p>
                                        {{(info.body.length/1024).toFixed(2)+" KB"}}
                                    </p>
                                </div>
                            </li>
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                <div class="layui-timeline-content layui-text">
                                    <h3 class="layui-timeline-title">状态码</h3>
                                    <p>
                                        {{info.status}}
                                    </p>
                                </div>
                            </li>
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                <div class="layui-timeline-content layui-text">
                                    <h3 class="layui-timeline-title">返回消息</h3>
                                    <p>
                                        <textarea id="ta1" style="width:100%;height:300px;" :value="info.body"></textarea>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
   
    <script type="text/javascript">

        var app = new Vue({
            el: "#apiList",
            data: {
                apilist: []
            },
            created() {
                
            },
            methods: {
                testApi(api) {
                    eval("sendAjax" + "('" + JSON.stringify(api) + "');");
                }
            }
        });
        var outputApp = new Vue({
            el: "#outputUl",
            data: {
                info: { func: "", url: "", params:"", responseTime: "",status:"", body: ""}
            },
            created() {

            },
            methods: {
              
            }
        });
        window.onload = init;
        function init() {
            $("#tableApiList").height($(window).height()-200);
            var apilist = new Array();
            apilist.push({
                mark: "接口测试",
                func: "test",
                url: "/api/uplan/test",
                method: "get",
                token: "928453310",
                params: ""
            });
            apilist.push({
                mark: "404接口示范",
                func: "hhhhh",
                url: "/api/uplan/hhhhh",
                method: "get",
                token: "928453310",
                params: ""
            });
            apilist.push({
                func: "CreateQoEVideoDtGroup",
                url: "/api/uplan/CreateQoEVideoDtGroup",
                method: "post",
                mark: "创建新的QOE测试组",
                token: "928453310",
                params: {
                    groupId: 2,
                    city: "天津市",
                    manager: "梅子怀",
                    manager_tel: "18319087172",
                    manager_email: "18319087172@139.com"
                }               
            });
            apilist.push({
                func: "GetAllQoEVideoDtGroup",
                url: "/api/uplan/GetAllQoEVideoDtGroup",
                method: "get",
                mark: "获取所有QoE测试组",
                token: "928453310",
                params:""
            });
            apilist.push({
                func: "UpdateQoEVideoDtGroup",
                url: "/api/uplan/UpdateQoEVideoDtGroup",
                method: "post",
                mark: "更新QoE测试组",
                token: "928453310",
                params: {
                    id:21,
                    groupId: 2,
                    city: "天津市1",
                    manager: "高云晖1",
                    manager_tel: "15034571195——1",
                    manager_email: "15034571195@139.com"
                }
            });
            apilist.push({
                func: "DeleteQoEVideoDtGroup",
                url: "/api/uplan/DeleteQoEVideoDtGroup",
                method: "get",
                mark: "删除QoE测试组",
                token: "928453310",
                params: {
                    id:5
                }
            });
            apilist.push({
                func: "CreateQoEVideoDtGroupMember",
                url: "/api/uplan/CreateQoEVideoDtGroupMember",
                method: "post",
                mark: "创建新QoE测试组成员",
                token: "928453310",
                params: {
                    groupId: 2,
                    name: "张三",
                    tel: "13631485968",
                    aid: "6ccc98"
                }
            });
            apilist.push({
                func: "GetAllQoEVideoDtGroupMember",
                url: "/api/uplan/GetAllQoEVideoDtGroupMember",
                method: "get",
                mark: "获取所有QoE测试成员",
                token: "928453310",
                params: ""
            });
            apilist.push({
                func: "UpdateQoEVideoDtGroupMember",
                url: "/api/uplan/UpdateQoEVideoDtGroupMember",
                method: "post",
                mark: "修改QoE测试成员",
                token: "928453310",
                params: {
                    id: 69,
                    groupId: 2,
                    name: "张三1",
                    tel: "13631485968",
                    imsi: "460110431206658",
                    aid:"6ccc98"
                }
            });
            apilist.push({
                func: "DeleteQoEVideoDtGroupMember",
                url: "/api/uplan/DeleteQoEVideoDtGroupMember",
                method: "get",
                mark: "删除QoE测试成员",
                token: "928453310",
                params: {
                    id:23
                }
            });
            apilist.push({
                func: "QoEVideoDtGroupGetMembers",
                url: "/api/uplan/QoEVideoDtGroupGetMembers",
                method: "get",
                mark: "QoE测试组获取组内成员",
                token: "928453310",
                params: {
                    groupId: "2"
                }
            });
            apilist.push({
                func: "GetQoEVideoDtCollectMembers",
                url: "/api/uplan/GetQoEVideoDtCollectMembers",
                method: "get",
                mark: "根据时间和城市，查询有数据的QoE测试成员",
                token: "928453310",
                params: {
                    startTime: "2019-04-01 00:00:00",
                    endTime: "2019-04-02 00:00:00",
                    city:"all"
                }
            });
            apilist.push({
                func: "GetQoEVideoDtCollectCitys",
                url: "/api/uplan/GetQoEVideoDtCollectCitys",
                method: "get",
                mark: "查询QoE测试组汇总统计城市列表",
                token: "928453310",
                params: ""
            });
            apilist.push({
                func: "GetQoEVideoDtCollectData",
                url: "/api/uplan/GetQoEVideoDtCollectData",
                method: "get",
                mark: "查询QoE测试组汇总统计数据",
                token: "928453310",
                params: {
                    startTime: "2019-04-01 00:00:00",
                    endTime: "2019-04-02 00:00:00",
                    city: "all",
                    memberName: "all",
                    dataType:0
                }
            });
            apilist.push({
                func: "GetQoEVideoDtGroupMemberTodayGisData",
                url: "/api/uplan/GetQoEVideoDtGroupMemberTodayGisData",
                method: "get",
                mark: "QoE测试组成员当天QoE Gis数据，用于实时监控界面地理化呈现",
                token: "928453310",
                params: {
                    imsi: "460110448504423"
                }
            });
            apilist.push({
                func: "GetOnlineInfo",
                url: "/api/uplan/GetOnlineInfo",
                method: "get",
                mark: "获取在线设备，包含在线QoE和QoER在线人数",
                token: "928453310",
                params:""
            });
            apilist.push({
                func: "UploadQoERDataForiOS",
                url: "/api/UniQoE/UploadQoERDataForiOS",
                method: "post",
                mark: "上传QoER iOS数据",
                token: "928453310",
                params: {
                    "GPSSpeed": 0,
                    "Lon": 116.33036804199219,
                    "SignalStrength": 3,
                    "netType": "4G",
                    "XZYSpeed": "(x=-0.000354,y=0.000836,z=0.009144)",
                    "Lat": 40.001995086669922,
                    "Carrier": "中国电信",
                    "PhoneModel": "iPhone 7 Plus",
                    "AID": "1fe6e7",
                    "IOSVersion": "12.2"
                }
            });
            apilist.push({
                func: "GetProjectFiles",
                url: "/api/WorkLog/GetProjectFiles",
                method: "get",
                mark: "获取项目文件列表",
                token: "928453310",
                params: {
                    account: "mzh",
                    startTime: "2019-04-25 12:04:04", //2019-04-25 12:04:04
                    endTime: "2019-04-25 12:07:04" //2019-04-25 12:07:04
                }
            });
            apilist.push({
                func: "UploadProjectFile",
                url: "/api/WorkLog/UploadProjectFile",
                method: "post",
                mark: "上传项目文件",
                token: "928453310",
                params: {
                    account: "mzh",
                    fileName: "fileTest.txt",
                    type: "文本文档",
                    mark: "测试文件",
                    fileBase64:"5L2g5aW95rWL6K+V5paH5Lu277yMaGVsbG8gdGVzdGZpbGU="
                }
            });
            apilist.push({
                func: "GetQoERBlackPoints",
                url: "/api/Uplan/GetQoERBlackPoints",
                method: "get",
                mark: "获取QoER网络黑点",
                token: "928453310",
                params: {
                    city: "",
                    carrier:"",
                    startTime: "2019-04-10 12:04:04", //2019-04-25 12:04:04
                    endTime: "2019-04-25 12:04:04", //2019-04-25 12:07:04
                    getCount:2
                }
            });
            apilist.push({
                func: "GetDPIndexData",
                url: "/api/DisplayPlatform/GetDPIndexData",
                method: "get",
                mark: "获取展示平台首页数据",
                token: "928453310",
                params: ""
            });
            apilist.push({
                func: "DoRefreshDPIndexData",
                url: "/api/DisplayPlatform/DoRefreshDPIndexData",
                method: "get",
                mark: "让后台立即刷新首页数据",
                token: "928453310",
                params: ""
            });
            apilist.push({
                func: "GetQoEProvince",
                url: "/api/DisplayPlatform/GetQoEProvince",
                method: "get",
                mark: "获取QoE有数据的省份",
                token: "928453310",
                params: ""
            });
            apilist.push({
                func: "GetDetailQuota",
                url: "/api/DisplayPlatform/GetDetailQuota",
                method: "get",
                mark: "获取分析平台详细指标数据",
                token: "928453310",
                params: {
                    level: 1,
                    day:1
                }
            });

            apilist.push({
                func: "GetPerformanceData",
                url: "/api/DisplayPlatform/GetPerformanceData",
                method: "get",
                mark: "获取分析平台性能模块数据",
                token: "928453310",
                params:""
            });
            this.app.apilist = apilist;
        }        
      
       
        function sendAjax(txt) {          
            var api = JSON.parse(txt);
            var ajaxUrl = api.url + "?token=" + api.token;
            this.outputApp.info.func = api.func;
            this.outputApp.info.url =ajaxUrl;
            this.outputApp.info.params = api.params;
            this.outputApp.info.status = "请求中..";
            this.outputApp.info.responseTime = "请求中...";
            this.outputApp.info.body = "请求中...";
            var that = this;
            var begin = new Date();
            var ajaxParamsType = "application/json";
            var params = JSON.stringify(api.params);
            if (api.method.toLowerCase() == "get") {
                ajaxParamsType = "application/x-www-form-urlencode";
                params = api.params;
            }
            $.ajax({
                url: ajaxUrl,
                type: api.method,
                timeout: 300000,
                async: true,
                cache: false,
                data: params,
                contentType: ajaxParamsType,  
                dataType: 'json',
                success: function (data, textStatus) {
                    var end = new Date();
                    var time = end - begin;
                    that.outputApp.info.responseTime = time + " ms";
                    that.outputApp.info.status = textStatus;
                    that.outputApp.info.body = JSON.stringify(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var end = new Date();
                    var time = end - begin;
                    that.outputApp.info.responseTime = time + " ms";
                    that.outputApp.info.status = textStatus + ";  code=" + XMLHttpRequest.status;
                    that.outputApp.info.body = errorThrown;
                }
            });
        }
       
    </script>
</body>