@using System.Web.Http
@using UplanServer.Areas.HelpPage.ModelDescriptions
@model ModelDescription

@section head{
    <link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
    <style>
        .mainDiv {
            margin: 50px 50px 50px 50px;
        }
    </style>
}
<div id="body" class="help-page mainDiv">
    <section class="featured">
        <div class="content-wrapper">
            <p>
                @Html.ActionLink("Help Page Home", "Index")
            </p>
        </div>
    </section>
    <h1>@Model.Name</h1>
    <p>@Model.Documentation</p>
    <section class="content-wrapper main-content clear-fix">
        @Html.DisplayFor(m => Model)
    </section>
</div>
